body {
    background-color: #f2f2f2;
}

.bodyContainer {
    max-width: 1000px;
    margin: auto;
}

.dummyPhoto {
    width: max-content;
    height: auto;
}

.photoGallery {
    background-color: blue;
    width: max-content;
    height: 250px;
}

#menu {
    margin-left: 25px;
    margin-right: 25px;
}

